extends ./layout.jade

block append content
    #create-project-container.container
        h1 Add Your Project
        h2 Show everyone what you've been working hard on.

        #create-form
            mixin input(fieldName)
                .row
                    span.input-field= fieldName
                    block

            form(action="/project" method="post")
                +input('Project Name')
                    input(type="text" name="name")
                +input('Website')
                    input(type="text" name="website")
                +input('Description')
                    textarea(rows="5" type="text" name="desc")
                +input('Type')
                    input(type="text" name="type")
                +input('Tags')
                    input(type="text" name="tags")
                button.btn.btn-primary(type="submit") Submit


