extends ./layout.jade

block append content
    #create-project-container.container
        h1 Add Your Project
        h2 Show everyone what you've been working hard on.

        #create-form

block append scripts
    script(src="/js/create-project.jsx" type="text/jsx")
