extends ./layout.jade

block append content
    #create-project-container.container
        h1 Add Your Project
        h2 Show everyone what you've been working hard on.

        #create-form
            mixin input(fieldName)
                .row
                    span.input-field= fieldName
                    block

            form(action="/project" method="post")
                +input('Project Name')
                    input(type="text" name="name")
                +input('Website')
                    input(type="text" name="website")
                +input('Description')
                    textarea(rows="5" type="text" name="desc")
                +input('Type')
                    input(type="text" name="type")
                +input('Tags')
                    input(type="text" name="tags")
                +input('Member')
                    input(type="text" name="tags")
                button.btn.btn-primary(type="submit") Submit


block append scripts
    script(src="/js/create-projects.jsx" type="text/jsx")


    #create-success.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h2.modal-title Congratulations!
                .modal-body
                    p Your project has been successfully added. We'll review it and you should see it published soon!
                    p We'll contact you if there are any issues regarding your project.
                .modal-footer
                    .btn.btn-default(data-dismiss="modal") Close
                    
block append scripts
    script(src="/js/create-project.jsx" type="text/jsx")
