extends ./layout.jade

block append content
    #content-container.container-fluid
        section#splash 
            #title-container
                h1#title What are 
                    span#title-you you
                    span#title-verb  creating
                    | ?
                h2#subtitle The best of UW Startups.
        if featured
            section#featured Featured
        section#showcase 
            h1 Showcase

            #control-panel.row
                #sort.control.col-xs-6.col-md-3
                    p SORT BY
                    .btn-group
                        button.btn.btn-primary(type="button") Hot
                        button.btn.btn-default(type="button") New
                        button.btn.btn-default(type="button") Top
                #filter-container.control.col-xs-6.col-md-3
                    p SEARCH
                    .input-group
                        input.form-control(type="text" class="form-control" placeholder="Filter results")
                #tags.control.col-md-6
                    p TAGS
                    .btn-group
                        button.btn.btn-default(type="button") Beta
                        button.btn.btn-default(type="button") iOS
                        button.btn.btn-default(type="button") Series A
                        button.btn.btn-default(type="button") Web
                        button.btn.btn-default(type="button") Education
                        button.btn.btn-default(type="button") Productivity

            mixin project(name, description, ...members)
                .project-info.col-sm-9
                    h2.project-title= name
                        .project-labels
                            span.label.label-default iOS
                            span.label.label-default Series A
                            span.label.label-default Hiring
                    if block
                        block
                    p.project-description
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta erat non turpis elementum, eget tristique lorem dignissim. Aenean justo dui, bibendum non consequat ac.
                    button.more SEE MORE

            mixin project-img
                .img-container.col-sm-3.hidden-xs
                    img.project-logo(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p160x160/1907816_539701799463497_3942861624024256331_n.png?oh=b57ed5b154a86606f5a7982cc27f0113&oe=556E8470&__gda__=1432292943_e72da182ed70511a9bb5f5e996ad2ac1')

            mixin project-left(name, description, ...members)
                .project.col-md-12
                    .row
                        +project-img
                        +project(name, description)
                           p.project-members Members: 
                               each member in members
                                   span.member= member
                    hr

            mixin project-right(name, description, ...members)
                .project.col-md-12
                    .row
                        +project(name, description)
                           p.project-members Members: 
                               each member in members
                                   span.member= member
                        +project-img
                    hr
 
            .row
                +project-left('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
                +project-right('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
                +project-left('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
                +project-right('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
                +project-left('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
                +project-right('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
                +project-left('Traction UW', 'Ipsum Lorem...', 'Daniel', 'Ayush', 'Vardhman')
 
