extends ./layout.jade

block append content
    #content-container.container-fluid
        
        if !user
            section#splash 
                #title-container
                    h1#title What are 
                        span#title-you you
                        span#title-verb  creating
                        | ?
                    h2#subtitle Showcasing the best of UW Startups.
                    #seemore-container
                        span#seemore SEE MORE
                            span.glyphicon.glyphicon-triangle-bottom

        if featured
            section#featured Featured

        section#showcase.container-fluid
            h1 
                span.glyphicon.glyphicon-th-list
                | SHOWCASE

            #control-panel.row
                #sort.control.col-md-3
                #filter-container.control.col-md-9
                    p SEARCH
                    .input-group
                        input#project-filter.form-control(type="text" class="form-control" placeholder="Filter results")
                // #tags.control.col-md-6
                //        p TAGS
 
            #projects-container.row

 block append scripts
    script(type="text/jsx" src="/js/projects.jsx")
    script.
        $(document).ready(function() {
            $("#seemore").click(function() {
                $('html, body').animate({
                    scrollTop: $("#showcase").offset().top
                }, 700);
            });
        });
