doctype html
html(lang="en")
    head
        block title
            title Traction | StartupUW
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no") 
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        link(href="/stylesheets/index.css" type="text/css" rel="stylesheet" media="screen,projection")

    body

        block header
            #header
                .row
                    p#logo.col-md-3 Traction UW
                    #login-bar.col-md-9
                        a(href="#")
                            span#login-button LOGIN
    
        block content

        block footer
            #footer

        block scripts
            script(src="https://code.jquery.com/jquery-2.1.1.min.js")    
