extends ./layout.jade

block append content

    #project-container
        if project
            h1 #{project.name}
            p #{project.description}
        else 
            h1 Project not found.
