extends ./layout.jade

block append content
    input#project-id(type="hidden" value="#{projectId}")
    #project-container
        .row
            .col-xs-12
                h1
                    span Loading project... 
                    i.fa.fa-cog.fa-spin
    

// Disables regular fb sdk load, instead is done in the React component
block fb

block footer
    #founders-tag Founders
        span.caret
    #status-bar

block append scripts
    script(type="text/javascript" src="https://www.google.com/jsapi")
    script(src="/js/project.jsx" type="text/jsx")