@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #565a5c;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    transition: all .1s linear;
}

.btn, .btn:focus, .btn:active:focus, button {
    transition: all .1s linear;
    outline: none;
}

.btn-primary,  .btn-primary:focus {
    background-color: white;
    border: 1px solid #e08282;
    color: #e08282;
}

.btn-primary:hover {
    border-color: #e74c3c;
    color: #e74c3c;
    background-color: white;
}

.btn-default:hover {
    background-color: white;
}

.pagination .active a, .pagination .active a:hover, .pagination .active a:focus { 
    background-color: white;
    border: 1px solid #e08282;
    color: #e08282;
}

textarea {
    resize: none;
}

.alert {
    margin-bottom: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#header {
    height: 70px;
    padding: 20px 45px;
    border-bottom: 1px solid #ddd;
    margin: auto;
    max-width: 1200px;
}

#logo {
    font-size: 25px;
    font-weight: 600;
}

#logo a {
    color: #33ccff;
}

#login-bar {
    text-align: right;
}

#login-bar .caret {
    margin-left: 15px;
    margin-top: -3px;
}

#login-bar .dropdown-toggle {
    border: none;
}

#fb-login .fa {
    margin-right: 15px;
}

#add-project {
    margin-left: 25px;
    display: inline-block;
}

#fb-login {
    background-color: #3B5998;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
}

#fb-login:hover {
    background-color: #5890ff;
}

#fb-login span {
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.profile-picture.small {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#content-container {
    padding: 0;
}

#splash {
    min-height: 650px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/splash.jpg');
    padding: 0;
    color: white;
}

#title-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    height: 200px;
    max-width: 600px;
    margin: auto;
}

#title-you {
    color: #33ccff;
}

#title {
    font-size: 55px;
    font-weight: 600;
}

#seemore-container {
    margin-top: 65px;
}

#seemore {
    border: 2px solid white;
    border-radius: 1px;
    padding: 7px;
    cursor: pointer;
    transition: all .1s linear;
}

#seemore:hover {
    border-color: #33ccff;
    color: #33ccff;
}

#seemore .glyphicon {
    margin-left: 5px;
}

/* SHOWCASE */

#showcase {
    max-width: 950px;
    text-align: center;
    padding: 50px 0;
    margin: auto;
}

#showcase h1 {
    font-size: 22px;
    font-weight: 600;
    color: #555;
}

#showcase h1 .glyphicon {
    font-size: 15px;
    top: 0;
    margin-right: 5px;
}

/* Control Panel */

#control-panel.row {
    padding: 20px 0;
    margin-top: 45px;
    background-color: #ecf0f1;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

#tags button {
    margin-bottom: 7px;
}

#filter-container .input-group {
    margin: auto;
    width: 100%;
    max-width: 400px;
}


#filter-container .form-control {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    font-weight: 300;
}

.control {
    margin-bottom: 12px;
}

.more, .votes {
    padding: 10px;
    margin-top: 20px;
    transition: all .1s linear;
    display: inline-block;
    cursor: pointer;
}

.votes .glyphicon {
    top: 2px;
}

.more:hover {
    background-color: #33ccff;
    color: white;
}

.votes {
    background-color: white;
    border: 1px solid #E08283;
    border-left: none;
    color: #E08283;
}

.votes.can-vote.user-not-voted:hover {
    background-color: #E08283;
    border: 1px solid #E08283;
    border-left: none;
    color: white;
}

.votes.user-voted {
    background-color: #e74c3c;
    border: 1px solid #e74c4c;
    color: white;
}

.more {
    color: #33ccff;
    border: 1px solid #33ccff;
    background-color: white;
}

/* PROJECTS */

#projects-container {
    padding-top: 25px;
}

#projects-container .pagination-showing  {
    margin: 7px 15px;
    display: inline-block;
}

.project {
    padding: 50px 35px;
    border-bottom: 1px solid #ddd;
}

.project-members {
    color: #aaa; 
    font-size: 12px;
}

.project:nth-child(even) {
    text-align: left;
}

.project:nth-child(even) .member {
    margin-right: 5px;
}

.project:nth-child(even) img {
    right: 60px;
}

.project:nth-child(odd) {
    text-align: right;
}

.project:nth-child(odd) .member {
    margin-left: 5px;
}

.project:nth-child(odd) img {
    left: 60px;
}

.project-title {
    font-size: 32px;
    margin-bottom: 3px;
}

.project .posted {
    color: #aaa;
    font-size: 12px;
    margin-bottom: 18px;
}

.project-labels {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-left: 8px;
}

.project-labels .label {
    margin-right: 5px;
}

/* FOOTER */

#footer {
    padding: 30px 0;
    background-color: #30393e;
    color: #999;
}

#footer p {
    color: #ccc;
    font-size: 14px;
    font-weight: 300;
}

#footer a {
    color: #999;
}

#footer a:hover, #social-media .fa:hover {
    color: #33ccff;
}

#footer .row > div {
    margin-bottom: 20px;
}

#social-media {
    margin-top: 20px;
}

#social-media .fa {
    color: white;
    transition: all .1s linear;
}

#footer-brand {
    text-align: left;
}

#about {
    padding: 30px 0;
    background-color: #262e31;
    color: #eee;
    font-size: 12px;
    text-align: right;
}

#footer-links, #footer-links-container {
    padding: 0;
}

#footer-links li {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}

#footer-links li a {
    color: #eee;
}

#footer-links li a:hover {
    color: #33ccff;
}

/* Admin */

#admin-content {
    height: 400px;
    width: 500px;
    margin: 100px auto;
}

.alert, #admin-content h1, #admin-console h1 {
    text-align: center;
}

span#admin-logout {
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin-top: -3px;
    display: inline-block;
}

#admin-console {
    min-height: 400px;
    padding: 50px;
}

#admin-login {
    margin: 30px;
}

#admin-login button, #admin-projects button {
    margin-top: 20px;
}

/* USER PROFILES */

#profile-container {
    margin: 50px auto;
}

#profile-container .fa {
    margin-right: 10px;
}

#profile-container h2 {
    font-size: 18px;
    font-weight: 600;
}

#profile-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

#profile-container .thumbnail {
    border: 1px solid #ddd;
    padding: 30px 10px 10px 10px;
}

#profile-feed {
    padding: 0 50px;
}

.vote-card {
    padding: 10px 20px 5px 20px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #eee;
}

.vote-card .name {
    font-weight: 600;
    font-size: 20px;
}

.vote-card .description {
    color: #565a5c;
}

.vote-card .date {
    font-size: 12px;
    color: #34495e;
    margin-left: 10px;
}

/* Project page */
#project-container {
    max-width: 1000px;
    padding: 55px 0;
    margin: auto;
}

#project-container .project-feed {
    padding-top: 10px;
}

#project-container .contact-info {
    padding: 10px 0;
}

#project-container h2 {
    font-size: 20px;
}

.projectlogo {
    padding: 5px;
}

.popover-content {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.projectlogo img{
    width: 100%;
}

.members a {
    margin-right: 15px;
}

.members .popover img {
    width: 100%;
    max-width: 100px;
}

.members .popover .row {
    margin: 15px 0;
}

.members .popover-content {
    padding: 0;
}

.members .name {
    font-weight: 600;
}

.members .grad {
    background-color: #33ccff;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
}

.members .popover .role {
    background-color: #eeeeee;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
}

#project-container .vote-row {
    border: 1px solid #eeeeee;
    padding: 20px;
}

#project-info .basic-info {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 30px 15px;
}

#project-feed .panel {
    width: 100%;
}
#project-info .basic-info h1 {
    margin-top: 0;
    font-weight: 600;
}

#project-info .tags .label {
    margin-right: 2px;
}

#project-info .members {
    margin-top: 20px;
}

#project-info .tags {
    margin-bottom: 15px;
}

#project-info img {
    width: 100%;
}

#project-container .voter {
    text-align: center;
}

#project-container .voter img {
    width: 80%;
    margin: 10px;
}

/* CREATE PROJECT */
#create-project-container {
    padding: 20px;
}

#create-project-container h1 {
    font-size: 28px;
    text-align: center;
}

#create-project-container h2 {
    text-align: center;
    font-size: 18px;
    color: #999;
}

#create-form {
    margin: 50px auto;
    max-width: 650px;
}

#create-form .row {
    margin-bottom: 30px;
}

#create-form input[type=checkbox] {
    margin-top: -5px;
}

#create-form .input-field {
    font-size: 16px;
    width: 30%;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}

#create-form textarea {
    height: 100px;
}

#create-form .required {
    display: block;
    font-size: 14px;
    color: #c0392b;
}

#create-form .input-container {
    width: 70%;
    border: 1px solid #ddd;
    outline: none;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 8px;
    cursor: text;
}

#create-form select.input-container, #create-form input[type=checkbox] {
    cursor: default;
}

#create-form input {
    height: 35px;
}

#inputTags, #memberInput {
    border: none;
    outline: none;
}

#create-form .popover .popover-content {
    padding: 0;
}

#create-form .popover .list-group {
    margin-bottom: 0;
}

#create-form .popover .list-group-item {
    padding: 0;
    cursor: pointer;
}

#create-form .popover .name {
    margin: 0 10px;
}

#create-form .popover.bottom {
    margin-top: 0;
}

#create-form .tag {
    margin-right: 5px;
    background-color: #ddd;
    padding: 2px 7px;
    border-radius: 3px;
}

#create-form .formError {
    text-align: right;
    margin-bottom: 20px;
    font-weight: 600;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    #footer {
        padding: 30px 0;
    }

    #about {
        text-align: left;
        line-height: 25px;
    }
}

/* ERROR */
#error-container {
    padding: 20px 35px;
    min-height: 400px;
}

@media screen and (max-width: 768px) { 
    #create-form .input-container {
        width: 100%;
    }

    .project-logo {
        top: 10px;
        width: 80px;
    }

    #login-bar {
        text-align: center;
    }

    #logo {
        text-align: right;
    }

    #header {
        padding: 20px 0;
    }

    #splash {
        min-height: 400px;
    }

    #title-container {
        height: 225px;
        padding: 10px;
        left: 10px;
    }

    #title {
        font-size: 35px;
    }

    #subtitle {
        font-size: 24px;
    }

    #profile-feed {
        padding: 0 20px;
    }
}
