@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #21272d;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

#header {
  height: 70px;
  padding: 20px 45px;
  border-bottom: 1px solid #ddd;
}

#logo {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

#login-bar {
  text-align: right;
}

#content-container {
  padding: 0;
}

#splash {
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  background-color: #eee;
}

#title-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 600px;
  margin: auto;
}

#title-you {
  color: #33ccff;
  text-decoration: underline;
}

#title {
  font-size: 55px;
  font-weight: 600;
}

#login-bar {
  margin-top: 5px;
}

#login-button {
  padding: 20px;
  color: #21272d;
}

#showcase {
  padding-top: 50px;
  max-width: 900px;
  text-align: center;
  margin: auto;
}

.project {
  padding: 0 35px;
}

.project-info {
  padding: 0 40px;
}

.project-members {
  color: #aaa; 
  font-size: 12px;
}

.project:nth-child(even) {
  text-align: left;
}

.project:nth-child(even) .member {
  margin-right: 5px;
}

.project:nth-child(even) img {
    right: 60px;
}

.project:nth-child(odd) {
  text-align: right;
}

.project:nth-child(odd) .member {
    margin-left: 5px;
}

.project:nth-child(odd) img {
    left: 60px;
}

.project-title {
  font-size: 32px;
  font-weight: 600;
}

#control-panel {
  padding: 20px 0;
  margin-bottom: 45px;
  background-color: #ecf0f1;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
}

#filter-container .input-group {
  width: 90%;
  margin: auto;
}

.control {
  margin-bottom: 12px;
}

.more {
  padding: 10px;
  background-color: #33ccff;
  color: white;
  border: none;
  margin-top: 20px;
  transition: all .1s linear;
}

.more:hover {
  color: #33ccff;
  background-color: white;
}

hr {
  margin: 45px 0;
  border-color: #ddd;
}

.project-logo {
    position: absolute;
    top: 20px;
}

.project-labels {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  margin-left: 10px;
  padding-bottom: 5px;
}

.project-labels .label {
  margin: 2px;
}

@media screen and (max-width: 768px) { 
    .project-logo {
      top: 10px;
      width: 80px;
    }

    #splash {
      min-height: 400px;
    }

    #title-container {
      height: 150px;
      padding: 10px;
    }

    #title {
      font-size: 35px;
    }

    #subtitle {
      font-size: 24px;
    }
}
